{
  "root": true,
  "env": { "browser": true, "es2020": true },
  "extends": [
    "prettier",
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:react-hooks/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["react", "prettier", "@typescript-eslint", "unused-imports", "react-refresh"],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "indent": "off",
    "camelcase": "off",
    "import/no-unresolved": "off",
    "import/no-anonymous-default-export": "off",
    "react/display-name": "off",
    "react/no-children-prop": "off",
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-use-before-define": ["off"],
    "unused-imports/no-unused-imports": "warn",
    "unused-imports/no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "args": "after-used",
        "varsIgnorePattern": "^_",
        "argsIgnorePattern": "^_"
      }
    ],
    "react-refresh/only-export-components": ["warn", { "allowConstantExport": true }]
  }
}
